$font-size: 14px;

$font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$zindex-dropdown: 1000;
$zindex-sticky: 1100;
$zindex-fixed: 1200;
